<div class="step">
  <h1 class="step__title">Личные данные клиента</h1>

  <mat-radio-group
    class="radio-group"
    [(ngModel)]="selectedClientType"
    (change)="clearPrevForm()"
    aria-label="Выберите тип лица">
    <mat-radio-button
      value='individual'
    >
      Физическое лицо
    </mat-radio-button>
    <mat-radio-button
      value='entity'
    >
      Юридическое лицо
    </mat-radio-button>
  </mat-radio-group>

  <ng-container *ngIf="selectedClientType === 'individual'; else entity">
    <form
      (ngSubmit)="submit()"
      [formGroup]="individualForm"
      class="form">
      <mat-form-field appearance="outline">
        <mat-label>Фамилия</mat-label>
        <input
          formControlName="surname"
          matInput
          type="text"
        >
        <mat-error *ngIf="individualForm.get('surname')?.hasError('required')">
          Это поле обязательно!
        </mat-error>
        <mat-error *ngIf="individualForm.get('surname')?.hasError('maxlength')">
          Макс. кол. символов - 255
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Имя</mat-label>
        <input formControlName="name" matInput type='text'/>
        <mat-error *ngIf="individualForm.get('name')?.hasError('required')">
          Это поле обязательно!
        </mat-error>
        <mat-error *ngIf="individualForm.get('name')?.hasError('maxlength')">
          Макс. кол. символов - 255
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Отчество</mat-label>
        <input formControlName="patronymic" matInput type='text'/>
        <mat-error *ngIf="individualForm.get('patronymic')?.hasError('maxlength')">
          Макс. кол. символов - 255
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>ИИН</mat-label>
        <input formControlName="id" matInput type='text'/>
        <mat-error *ngIf="individualForm.get('id')?.hasError('required')">
          Это поле обязательно!
        </mat-error>
        <mat-error *ngIf="individualForm.get('id')?.hasError('pattern')">
          Неправильный ИИН
        </mat-error>
      </mat-form-field>

      <button
        class="form__submit"
        color="primary"
        mat-raised-button
        type="submit"
      >Подтвердить
      </button>
    </form>
  </ng-container>

  <ng-template #entity>
    <form
      id="entityForm"
      (ngSubmit)="submit()"
      [formGroup]="entityForm"
      class="first-step__form form">
      <mat-form-field appearance="outline">
        <mat-label>Название организации</mat-label>
        <input
          formControlName="companyName"
          matInput
          type="text"
        >
        <mat-error *ngIf="entityForm.get('companyName')?.hasError('required')">
          Это поле обязательно!
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>БИН</mat-label>
        <input formControlName="id" matInput type='text'/>

        <mat-error *ngIf="entityForm.get('id')?.hasError('required')">
          Это поле обязательно!
        </mat-error>
        <mat-error *ngIf="entityForm.get('id')?.hasError('pattern')">
          Неправильный БИН
        </mat-error>
      </mat-form-field>

      <button
        class="form__submit"
        color="primary"
        mat-raised-button
        type="submit"
      >Подтвердить
      </button>
    </form>
  </ng-template>

</div>
