/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root {
  display: block;
  min-height: 100vh;
}

.step {
}

.step__title {
  font-size: 26px;
  color: #3f51b5;
  font-weight: 700;
}

.step__back-btn {
  display: block;
  margin: 30px 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  min-width: 190px;
  padding: 20px 30px;

  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: rgba(60, 66, 87, 0.12) 0 7px 14px 0, rgba(0, 0, 0, 0.12) 0 3px 6px 0;
}

.form__submit {
  align-self: flex-end;
}

.file-upload {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.file-upload__input {
  display: none;
}
